* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vw;
}

button {
    position: fixed;
    width: 100px;
    height: 30px;
    top: 20px;
    left: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 2px rgb(202, 29, 95);
    background-color: rgb(202, 29, 95);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: transparent;
    color: rgb(202, 29, 95);
}

div {
    position: absolute;
}

.chimney,
.roof,
.walls,
.door,
.walls div {
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    transition: all 1s, background-color .5s .2s;
    transition-timing-function: ease-in-out;
}

.walls div {
    top: 20%;
    left: 20%;
}

.walls div:nth-child(1) {
    left: 50%;
}

button:hover+.chimney {
    background-color: gray;
    width: 10vw;
    height: 20vw;
    top: 15%;
    left: 56%;
}

button:hover~.roof {
    background-color: black;
    width: calc(56vw/1.4);
    height: calc(56vw/1.4);
    top: 15%;
    left: 31%;
    transform: rotate(45deg);
}

button:hover~.walls {
    background-color: rgb(202, 29, 95);
    width: 56vw;
    height: 40vw;
    top: 35%;
    left: 23%;
}

button:hover~.walls :nth-child(1) {
    width: 12vw;
    height: 12vw;
    top: 18%;
    left: 65%;
    background-color: yellow;
}

button:hover~.walls :nth-child(2) {
    width: 12vw;
    height: 12vw;
    top: 18%;
    left: 10%;
    background-color: yellow;
}

button:hover~.door {
    width: 12vw;
    height: 20vw;
    background-color: gray;
    top: 55%;
    left: 45%;
}